{{/* Projects Overview Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}
{{ $open := $page.Params.content.open | default false }}

<style>
  .project {
    float: left;
    text-align: left;
    border-radius: 20px;
    text-decoration: none;
  }

  .project i {
    display: flex;
    vertical-align: middle;
    line-height: normal;  
    color: #00A6D6;
  }

  .project p {
    font-size: large;
  }

  .project-text h2{
    color: #00A6D6;
  }

  .project-authors {
    font-size: larger;
  }

  .project-extra {
    font-size: small;
  }
</style>

<div class="row justify-content-center people-widget">
  {{ with $page.Title }}
  <div class="col-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-12">
    {{ . }}
  </div>
  {{ end }}

  {{ $all_projects := (where site.Pages "Section" "projects") }}
  {{ $tracks := $page.Params.content.tracks | default site.Params.tracks}}

  {{/* Only displays project of specific track - No need to show the track*/}}
  {{ if $page.Params.content.tracks}}
    {{ range $tracks }}
    {{ $selected_projects := where $all_projects ".Params.tracks" "intersect" (slice .) }}
    {{ $projects := where $selected_projects ".Params.active" "=" true }}
    {{ $projects := where $selected_projects ".Params.open" "="  $open }}

    {{ if $projects | and (gt (len $tracks) 1) }}
    <div class="col-12">
      <h2 class="mb-4">{{ . | markdownify }}</h2>
    </div>
    {{end}}

    {{ range $projects }}

    {{/* Get link to user's profile page. */}}
    {{ $link := "" }}
    {{ with site.GetPage (printf "/projects/%s" (path.Base (path.Split .Path).Dir)) }}
    {{ $link = .RelPermalink }}
    {{ end }}
    <div class="col-12 project">
      <div class="row">

        <div class="col-12 project-text">
          <h2>{{with $link}}<a>{{end}}<b>{{ .Title }}</b>{{if $link}}</a>{{end}}</h2>
          <p class="project-authors"><b>{{ (delimit .Params.Authors ", " "") }}</b></p>
          <p class="extra-information">{{ .Params.Bonus }}</p>
          <p>{{with $link}}<a>{{end}}{{ .Description }}{{if $link}}</a>{{end}}</p>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  {{ else }}
    {{ $selected_projects := $all_projects }}
    {{ $projects := where $selected_projects ".Params.active" "=" true }}
    {{ $projects := where $selected_projects ".Params.open" "="  $open }}

    {{ range $projects }}

    {{/* Get link to user's profile page. */}}
    {{ $link := "" }}
    {{ with site.GetPage (printf "/projects/%s" (path.Base (path.Split .Path).Dir)) }}
    {{ $link = .RelPermalink }}
    {{ end }}
    <div class="col-12 project">
      <div class="row">
        <div class="col-12 project-text">
          <h2>{{with $link}}<a>{{end}}<b>{{ .Title }}</b>{{if $link}}</a>{{end}}</h2>
          <p class="project-tracks"><i>{{ (delimit .Params.Tracks ", " ", ") }}</i></p>
          <p class="project-authors"><b>{{ (delimit .Params.Authors ", " ", ") }}</b></p>
          <p class="extra-information">{{ .Params.Bonus }}</p>
          <p>{{with $link}}<a>{{end}}{{ .Description }}{{if $link}}</a>{{end}}</p>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
</div>