{{- define "main" -}}

<style>
  .button, .button:active, .button:visited {
    color: white;
    text-decoration: none;
  }

  .button a:hover {
    background-color: #e65800;
  }

  .button a {
    width: 100%;
    background-color: #FF6201;
    margin: 10% 25% 10% 25%;
  }

  a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    text-align: center;
 }
</style>

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">
    {{ if .Params.Authors}}
      <h4 class="authors"> {{ delimit .Params.Authors ", " }} </h4>
    {{ end }}

    {{ if .Params.summary }}
      <h3>Summary</h3>
      <p class="pub-abstract">{{ .Params.summary | markdownify | emojify }}</p>
    {{ else }}
      <br>
    {{ end }}

    {{if .Params.slides}}
    <div class="row col-12 button">
      <a href="{{ .Params.slides }}">Download Slides</a>
    </div>
    {{ end }}

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "date" }}</div>
          <div class="col-12 col-md-9">
            {{ partial "functions/get_event_dates" . }}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>

    {{ if .Params.event }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "event" }}</div>
          <div class="col-12 col-md-9">
            {{ with .Params.event_url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
            {{ .Params.event | markdownify }}
            {{ if .Params.event_url }}</a>{{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.location }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "location" }}</div>
          <div class="col-12 col-md-9">{{ .Params.location | markdownify }}</div>
          {{ if .Params.address }}
            <div class="col-md-3"></div>
            <div class="col-12 col-md-9">{{partial "functions/get_address" (dict "root" . "address" .Params.address) }}</div>
          {{end}}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style">
      {{ .Content }}
    </div>

  </div>
</div>
{{- end -}}