<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" href="css/academicons.min.css"/>
    <link rel="stylesheet" href="css/serg.css">
  </head>

  <body>
    <div class="outer">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="https://www.tudelft.nl">
          <img src="/img/tudelft.svg" class="d-inline-block align-top logo" alt="TU Delft Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-item nav-link" href="index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="people.html">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="tracks.html">Tracks</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="publications.html">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="events.html">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="students.html">Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="vacancies.html">Vacancies</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid container-center">
        <div class="content">
          {{ content }}
        </div>
      </div>

      <div class="container-fluid outer-footer afr container-center">
        <div class="content myfooter">
          <div class="row">
            <div class="col-sm float-md-left">
              <a class="navbar-brand" href="https://www.tudelft.nl">
                <img src="img/tudelft-color-logo.png" height="90" class="d-inline-block align-top" alt="TU Delft Logo">
              </a>
            </div>

            <div class="col-sm float-md-left">
              <br/>
              <a class="navbar-brand" href="https://www.ing.com">
                <img src="img/ing.png" height="35" class="d-inline-block align-top" alt="ING Logo">
              </a>
            </div>


            <div class="col-md text-md-center">
              <address>
                <abbr title="Address"><i class="fa fa-map-marker" aria-hidden="true"></i></abbr>
                <a href="https://cumuluspark.nl">Cumulus Park</a><br/>
                Frankemaheerd 1<br/>
                Amsterdam ZO<br/>
                The Netherlands
              </address>
            </div>
 
            <div class="col-sm float-md-right">
              <a href="https://cumuluspark.nl">
                <img src="img/cumuluspark.jpeg" height="90" class="d-inline-block align-top" alt="Cumulus Park">
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

</html>
