{{/* Footer Shortcode. */}}
{{/* Creates a contact footer. */}}

<style>
    .footer {
        background: #FF6201;
        position: fixed;
        width: 100%;
        height: 8%;
        bottom: 0px;
        left: 0px;
        padding: 1% 20% 1% 20%;
    }

    .email-box {
        width: 50%;
        float: left;
    }

    .email-box a:link, a:visited, a:hover, a:active {
        color: black;
        text-decoration: none;
    }

    .email-box i {
        vertical-align: middle;
    }

    .logo {
        width: 50%;
        float: left;
    }

    .logo img {
        float: right;
    }

    .logo i {
        float: right;
        margin-left: 5%;
    }
</style>

<div class="footer">
    <div class="email-box">
        <i class="fas fa-envelope fa-2x"></i>
        <a href="mailto:ai4fintech@ing.com"> ai4fintech@ing.com </a>
    </div>

    <div class="logo">
        <a href="https://github.com/SERG-Delft/ai4fintech" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://twitter.com/ai4fintech" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
</div>

